.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.loginPage {
  background-color: #fff;
  width: 500px;
  margin: auto;
  padding: 30px;
  position: relative;
  border-radius: 8px;
}

.loginPage::before,
.loginPage::after {
  content: "";
  background-color: #7367f0;
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: -25px;
  left: -25px;
  border-radius: 8px;
  z-index: -1;
  opacity: 0.4;
}
.loginPage::after {
  bottom: -25px;
  right: -25px;
  top: unset;
  left: unset;
}

.form-group {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group label {
  text-align: right;
}

.inputField {
  border: none;
  border-bottom: 1px solid #b97802;
  padding: 10px 10px;
  outline: none;
  background: #f5f5f5;
  font-size: 1rem;
}

.submitBtn {
  display: inline-block;
  background-color: #7367f0;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 20px;
  transition: 0.3s;
  width: 100%;
  height: 38px;
  margin: 25px 0 15px;
}

.order-Form {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
}
