.navbar {
  position: fixed;
  top: 0;
  width: calc(100vw - var(--sidebarWidth));
  background-color: #7a550f;
  height: var(--navbarWidth);
  line-height: var(--navbarWidth);
  margin-right: var(--sidebarWidth);
  padding-right: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.allNavbar {
  margin-right: 0;
  width: 100vw;
}

.navbar .fa-user {
  padding: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}
.navbar a::after {
  content: "||";
  padding: 0 10px;
  color: #fff;
}
.navbar a:last-of-type::after {
  content: "";
  padding: 0;
}
.userListContent {
  position: absolute;
  top: 45px;
  background: #fff;
  left: 10px;
  padding: 10px;
  border-radius: 8px;
  color: #000;
  width: 150px;
  font-weight: bold;
  box-shadow: 0 0 5px 5px #eaeaea;
}
.userListContent a {
  color: #000;
  font-weight: bold;
}
.logout {
  border: none;
  padding: 3px;
  background-color: #737373;
  width: 120px;
  border-radius: 4px;
  color: #fff;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: var(--sidebarWidth);
  background-color: #7a550f;
  border-left: 1px solid #000;
}
.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar li {
  background-color: #b97802;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
}

.sidebar li i {
  margin: 0 10px;
  width: 30px;
  color: #fff;
}
.sidebar a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}

.cartCount {
  position: absolute;
  top: -5px;
  left: -22px;
  background: #f00;
  text-align: center;
  line-height: 20px;
  padding: 0 5px;
  border-radius: 4px;
}

.swiper {
  z-index: 0 !important;
}

.orderStatus {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  margin: 20px 0;
}

.orderStatus li.active {
  color: #f00;
}

.languageSwitcher {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  color: white;
  border-radius: 5px;
  background: transparent;
}
