.homeCards{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.homeCards > div {
    width: 22%;
    border-radius: 8px;
    padding: 10px;
    position: relative;
}
.homeCard.categories{background-color: #f00;color: #fff}
.homeCard.users{background-color: #7e7e00;color: #fff}
.homeCard.photos{background-color: #080;color: #fff}
.homeCard.products{background-color: #00f;color: #fff}

.homeCard a{color: #fff;}

.homeCards i {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    color: #fff;
}

.homeCards h1 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    margin: 0;
}
.homeCards a{
    margin: 0;    font-weight: bold;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
}
